* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#dawe {
    background-image: url("https://i.ibb.co/ThfVLb9/wallpaper-bliss-landscape-windows-xp-stock-4k-nature-nhvtxpop808oaye4.jpg");
    background-size: 100% 93.7vh;
    background-repeat: no-repeat;
}

.window {
    background-color: #D7D7D7;
    width: 90vw;
    height: 85vh;
}

#topbar {
    background-color: #949494;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7vw;
}

#topleft {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 0.7vw;
}


#topright {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1.3vw;
}

#win-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 93.7vh;
    width: 100%;
    gap: 1.5vw;
    padding-right: 3vw;
    padding-left: 3vw;
}

#taskbar {
    background-color: #1C1C1C;
    height: 6.3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
}

#about-me,
#projects,
#social {
    padding-top: 1.2vh;
    padding-bottom: 1.2vh;
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 0.7vw;
}


#itemscont {
    width: 100%;
    height: 79.7vh;
    display: flex;
}

#halfone {
    width: 32%;
    display: flex;
    flex-direction: column;
    padding-left: 2vw;
    padding-top: 9vh;
}

a {
    font-size: 2vw;
    text-decoration: none;
    color: black;
}

#halftwo {
    width: 68%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-top: 18vh;
    padding-right: 3vw;
    padding-left: 3vw;
    gap: 4vh;
}

#halftwo > h1 {
    text-decoration: underline;
    font-size: 4vw;
}

#halftwo > h2 {
    font-size: 1.7vw;
}

#pfp {
    border: 0.3vw black solid;
    width: 24vw;
}